Repository pascaliske/typescript-api: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run format, yarn run lint

.lintstagedrc:

{
  "**/*.md": [
    "yarn run format",
    "git add"
  ],
  "**/*.ts": [
    "yarn run lint",
    "yarn run format",
    "git add"
  ]
}

chore(package): update lockfile
  yarn.lock
Due: none

chore(ci): switch from greenkeeper to dependabot
  .travis.yml
Due: none

chore(snyk): update policy file
  .snyk
Due: none

chore(git): ignore envrc file
  .gitignore
Due: none

chore(dependabot): force commit message convention for dependabot
  .dependabot/config.yml
Due: none

chore(package): upgrade dependencies
  package.json
  yarn.lock
Due: none

chore(dependabot): force dependabot config
  .dependabot/config.yml
Due: none

chore(travis): remove node v11
  .travis.yml
Due: none

chore(snyk): upgrade cli and force exit code of zero on every execution
  package.json
  yarn.lock
Due: none

chore(package): upgrade to ava v3
  .travis.yml
  package.json
  yarn.lock
Due: none

chore: remove snyk cli
  .travis.yml
  package.json
  yarn.lock
Due: none

chore: remove snyk file
  .snyk
Due: none

chore(github): add code owners file
  .github/CODEOWNERS
Due: none

chore(tslint): remove deprecated rule
  tslint.json
Due: none

chore(ci): run build as script in pipeline
  .travis.yml
  package.json
Due: none

chore(travis): update slack notifications
  .travis.yml
Due: none

chore(package): install chalk as direct dependency
  package.json
  src/services/logger.ts
  yarn.lock
Due: yarn run format, yarn run lint

chore: update to node v14
  .travis.yml
  package.json
  yarn.lock
Due: none

chore(package): upgrade dependencies
  package.json
  src/server.ts
  src/testing/setup.ts
  tsconfig.json
  yarn.lock
Due: yarn run format, yarn run lint

chore(package): upgrade husky to v6
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
  .huskyrc
  package.json
  yarn.lock
Due: none

fix: fix express typing issues
  package.json
  yarn.lock
Due: none

fix: fix socket io implementation
  src/server.ts
Due: yarn run format, yarn run lint

chore: downgrade typedi for compatibility
  package.json
  yarn.lock
Due: none

feat: enable di on class validator library
  src/index.ts
Due: yarn run format, yarn run lint

docs: update domain
  README.md
  package.json
Due: yarn run format

chore(ci): switch from travis ci to github actions
  .github/workflows/test.yml
  .travis.yml
  README.md
Due: yarn run format

docs(readme): update setup instructions
  README.md
Due: yarn run format

chore(package): upgrade dependencies
  .husky/.gitignore
  .lintstagedrc
  .lintstagedrc.json
  package.json
  yarn.lock
Due: none

chore(github): upgrade node version to v16
  .github/workflows/test.yml
Due: none

chore: close develop branch
  .github/dependabot.yml
Due: none
